<!-- this is a box that i can apply css styling to -->
<div class="span6 offset3 text-center helloBox">

	<h1 class="custom-font">Hi I'm Amanda</h1>

	<h2>I am excited to code yeah, let's do this kewl shit</h2>
	<%= link_to 'Launch rocket', pics_path, :class => 'btn btn-success btn-large' %>

</div>

