@import url(http://fonts.googleapis.com/css?family=Over+the+Rainbow);
@font-face { font-family: Delicious; src: url('Papyrus.ttc'); } 

/* Amanda's hacked site */

.helloBox {
box-shadow: 2px -2px 2px 2px rgba(36,32,33,0.50);
background-color: rgba(36,32,33,0.50);
padding: 1%;
margin-top: 50px;
}

body {
 
	background: url('bg.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.custom-font {

	color: white;
	font-family: Helvetica Neue Light, Helvetica Neue, Helvetica, san-serif;
	font-weight: 100;
	font-size: 64px;
	line-height: 50px;
}

h2{  

	color: white;
	font-family: Helvetica Neue Light, Helvetica Neue, Helvetica, san-serif;
	font-weight: 200;
	font-size: 34px;
}

label {
	color: white;
	font-family: Helvetica Neue Light, Helvetica Neue, Helvetica, san-serif;
	font-weight: 200;
	font-size: 15px;

}